flow life expectancy.json
[{"id":"9bda3685.c31488","type":"tab","label":"life expetancy","disabled":false,"info":""},{"id":"8b07ca7e.0d2838","type":"ui_form","z":"9bda3685.c31488","name":"","label":"","group":"d7cd5c8e.47ba5","order":0,"width":0,"height":0,"options":[{"label":"Adult Mortality Rate","value":"b","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol Intake","value":"d","type":"number","required":true,"rows":null},{"label":"Percentage Exoenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":true,"rows":null},{"label":"Measles\t","value":"g","type":"number","required":true,"rows":null},{"label":"BMI","value":"h","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"i","type":"number","required":true,"rows":null},{"label":"Polio","value":"j","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"k","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"l","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"m","type":"number","required":true,"rows":null},{"label":"GDP","value":"n","type":"number","required":true,"rows":null},{"label":"Population","value":"o","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"p","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"q","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"r","type":"number","required":true,"rows":null},{"label":"Schooling","value":"s","type":"number","required":true,"rows":null},{"label":"Developing","value":"t","type":"switch","required":true,"rows":null}],"formValue":{"b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":100,"wires":[["ee3542fa.c0964"]]},{"id":"ee3542fa.c0964","type":"function","z":"9bda3685.c31488","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n//following are required to receive a token\nvar apikey=\"nyXv8Nr6lA6x1ZzPVClApSOIDleW9qEhxX9gKaD9PkzL\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["71fe715e.bfd95"]]},{"id":"71fe715e.bfd95","type":"http request","z":"9bda3685.c31488","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":550,"y":100,"wires":[["2c92572a.6ef298"]]},{"id":"2c92572a.6ef298","type":"function","z":"9bda3685.c31488","name":"send to endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"76eaa07c-1e4a-407b-804f-28e18ef20ceb\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar n = global.get(\"n\");\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Adult Mortality', 'infant deaths', 'Alcohol',\n       'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',\n       ' thinness 5-9 years', 'Income composition of resources', 'Schooling',\n       'Developing'],\n\"values\":[[b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":100,"wires":[["d61b9917.190818"]]},{"id":"d61b9917.190818","type":"http request","z":"9bda3685.c31488","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/76eaa07c-1e4a-407b-804f-28e18ef20ceb/deployments/0f09d026-1bf3-46ac-a30c-d499a1aba739/online","tls":"","persist":false,"proxy":"","authType":"basic","x":780,"y":220,"wires":[["64995f21.96b2a","36344e5f.e77642"]]},{"id":"64995f21.96b2a","type":"debug","z":"9bda3685.c31488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060,"y":220,"wires":[]},{"id":"7d23c8f6.0d7b48","type":"debug","z":"9bda3685.c31488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060,"y":380,"wires":[]},{"id":"36344e5f.e77642","type":"function","z":"9bda3685.c31488","name":"get from endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":380,"wires":[["7d23c8f6.0d7b48","3e4e072d.a4f688"]]},{"id":"3e4e072d.a4f688","type":"ui_text","z":"9bda3685.c31488","group":"d7cd5c8e.47ba5","order":0,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":480,"wires":[]},{"id":"d7cd5c8e.47ba5","type":"ui_group","z":"","name":"Default","tab":"e321e66e.fe3538","order":1,"disp":true,"width":"6","collapse":false},{"id":"e321e66e.fe3538","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]